* {
    outline: 0 !important;
  }
  body {
    font-family: "Encode Sans", sans-serif !important;
    a {
      text-decoration: none;
    }
  }
  header {
    height: 947px;
  }
  .box-rounded {
    border-radius: 22px !important;
  }
  .bg-img {
    background-repeat: no-repeat !important;
    background-size: 100% !important;
  }
  .imgRight {
    margin-right: -4px;
    margin-top: 14rem;
  }
  .text-one {
    margin-top: 10rem;
    padding: 6rem;
  }
  .text-two {
    margin-top: 3rem;
    padding: 8rem;
  }
  .pricingMain {
    z-index: 1;
    transform: scale(1.1);
  }
  .sectionTwo {
    margin-bottom: 8.25rem;
    .bi-arrow-right {
      fill: white !important;
    }
  }
  .testimonialSection {
    .swiper-container {
      height: 440px;
    }
    .swiper-slide .card * {
      opacity: 0.8;
      transition: all ease 0.3s;
    }
    .swiper-slide-next .card * {
      opacity: 1;
      transition: all ease 0.3s;
    }
    .avtar {
      width: 80px;
      height: auto;
      position: absolute;
      top: -35px;
      left: 35px;
    }
    .bg {
      background-color: $primary;
      background-image: var(--bs-gradient);
      height: 12rem;
    }
    .testimonials {
      margin-top: -6rem !important;
    }
    .rating img {
      margin-right: 6px;
      width: 18px;
    }
    .review {
      color: #3d2e87;
    }
  }
  .lastSection {
    margin-top: 10.25rem;
  }
  footer {
    .container {
      border-top: 2px solid #e2d4f3;
      margin-top: 6.5rem;
    }
    .menu {
      list-style: none;
      padding-left: 0;
      a {
        text-decoration: none;
        color: $secondary;
      }
      a:hover {
        color: $primary;
      }
    }
  }
